.quiz-container {
    padding: 20px;
    margin: 20px auto;
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .quiz-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
  }
  
  .quiz-card:hover {
    background-color: #e3f2fd;
  }
  
  .quiz-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .quiz-header-image {
    background-image: url("../../../../../public/bg.jpg");
    background-size: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 15px;
  }
  
  .quiz-header-details {
    flex: 1;
  }
  
  .title-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title-category h3 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
  }
  
  .title-category h5 {
    font-size: 14px;
    color: #888;
    margin: 0;
  }
  
  .quiz-description {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
    margin-top: 10px;
  }
  
  .quiz-actions {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .quiz-actions button {
    flex: 1;
    min-width: 120px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
  
  .add-quiz-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .add-quiz-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1976d2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  .disable-click {
    pointer-events: none;
    cursor: default;
  }
  
  .accent {
    color : #000
  }