<mat-card class="sidebar">
    <mat-action-list>
      <div mat-subheader class="menu-header">Available Categories</div>
  
      <button mat-list-item routerLink="/user-dashboard/0">
        <mat-icon mat-list-icon>radio_button_checked</mat-icon>
        <span>All Quizzes</span>
      </button>
  
      <button
        *ngFor="let c of categories"
        mat-list-item
        [routerLink]="'/user-dashboard/' + c.cid"
      >
        <mat-icon mat-list-icon>radio_button_checked</mat-icon>
        <span>{{ c.title }}</span>
      </button>
    </mat-action-list>
  </mat-card>
  