<div class="quiz-container">
  <h1 class="quiz-heading">Available Quizzes</h1>

  <div class="quiz-list" *ngIf="quizzes && quizzes.length > 0">
    <mat-card class="quiz-card" *ngFor="let q of quizzes">
      <mat-card-header>
        <mat-card-title>{{ q.title }}</mat-card-title>
        <mat-card-subtitle>{{ q.category.title }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p class="quiz-description">{{ q.description }}</p>
      </mat-card-content>

      <mat-card-actions align="start">
        <!-- <button mat-flat-button>View</button> -->
        <button mat-flat-button
          color="accent"
          class="ml10"
          [routerLink]="'/user-dashboard/instructions/' + q.qid"
        >
          Start
        </button>
        <span class="quiz-meta">
          <mat-icon inline>help_outline</mat-icon> {{ q.numberOfQuestions }}
        </span>
        <span class="quiz-meta">
          <mat-icon inline>star</mat-icon> {{ q.maxMarks }}
        </span>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="quizzes.length === 0">
    <mat-card class="no-data-card">
      <mat-card-content>
        <h2>No quizzes available in this category.</h2>
      </mat-card-content>
    </mat-card>
  </div>
</div>
