<mat-card class="quiz-card">
  <h1>Add New Quiz</h1>
  <form (ngSubmit)="addQuiz()" class="quiz-form">
    <!-- Title Field -->
    <mat-form-field appearance="outline" class="full-width custom-input">
      <mat-label>Enter Title</mat-label>
      <input
        [(ngModel)]="quizData.title"
        type="text"
        name="title"
        placeholder="Enter Title*"
        matInput
        required
      />
    </mat-form-field>

    <!-- Description Field -->
    <mat-form-field appearance="outline" class="full-width custom-description">
      <mat-label>Enter Description</mat-label>
      <textarea
        [(ngModel)]="quizData.description"
        name="description"
        placeholder="Enter Description"
        matInput
        rows = "5"
      ></textarea>
    </mat-form-field>

    <!-- Maximum Marks Field -->
    <mat-form-field appearance="outline" class="full-width custom-input">
      <mat-label>Maximum Marks</mat-label>
      <input
        [(ngModel)]="quizData.maxMarks"
        type="number"
        name="maxMarks"
        placeholder="Enter Maximum Marks"
        matInput
      />
    </mat-form-field>

    <!-- Number of Questions Field -->
    <mat-form-field appearance="outline" class="full-width custom-input">
      <mat-label>Number of Questions</mat-label>
      <input
        [(ngModel)]="quizData.numberOfQuestions"
        type="number"
        name="numberOfQuestions"
        placeholder="Enter Number of Questions"
        matInput
      />
    </mat-form-field>

    <!-- Publish Status Toggle -->
    <mat-slide-toggle name="active" [(ngModel)]="quizData.active" class="mt-3">
      Publish Status
    </mat-slide-toggle>

    <!-- Categories Field -->
    <!-- <mat-form-field appearance="outline" class="full-width" *ngIf="(categories?.length ?? 0) > 0">
      <mat-label>Categories</mat-label>
      <mat-select name="category" [(ngModel)]="quizData.category.cid">
        <mat-option *ngFor="let c of categories" [value]="c.cid">
          {{ c.title }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <mat-form-field appearance="outline" class="custom-input full-width">
      <mat-label>Categories</mat-label>
      <input
        type="text"
        matInput
        [matAutocomplete]="auto"
        placeholder="Select category"
        [(ngModel)]="quizData.category.cid"
        name="category" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let category of categories" [value]="category.cid">
          {{ category.title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    

    <!-- Add Button -->
    <div class="text-center mt-3">
      <button mat-raised-button color="accent" type="submit">Add</button>
    </div>
  </form>
</mat-card>